@model IEnumerable<AplicacionWebGym.Models.EjerciciosCLS>

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista_Ejercicios</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdEjercicios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.abdominales)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_ej)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDatos)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdEjercicios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.abdominales)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_ej)
            </td>
            <td>
                @AplicacionWebGym.Controllers.EjerciciosController.nombre_persona(item.IdDatos)
            </td>
            <td>
                @Html.ActionLink("Detalles", "DetalleEjercicios", new { id = item.IdEjercicios }) |
                @Html.ActionLink("Editar", "EditarEjercicios", new { id = item.IdEjercicios, id2 = item.IdDatos }) |
                @Html.ActionLink("Eliminar", "EliminarEjercicio", new { id = item.IdEjercicios })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
