@model AplicacionWebGym.Models.InventarioCLS

@{
    ViewBag.Title = "Agregar_Tipo_Inventario_Personalizado";
    Layout = "~/Views/Shared/_LayoutPersonalizado.cshtml";
}

<h2>Agregar Material</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.TipoInventario, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TipoInventario, new { htmlAttributes = new { @class = "form-control", @placeholder = "Pesas" } })
                @Html.ValidationMessageFor(model => model.TipoInventario, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Agregar" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la lista de materiales", "Lista_Tipo_Inventario", null, new { @class = "btn btn-default"})
</div>
