@model AplicacionWebGym.Models.Medidas

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DetalleMedidas</title>
</head>
<body>
    <div>
        <h4>Medidas</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.altura)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.altura)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.medidasAbd)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.medidasAbd)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.medidasCintura)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.medidasCintura)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.medidasPecho)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.medidasPecho)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.fecha_med)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.fecha_med)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IdDatos)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IdDatos)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.idMedidas }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
