@model IEnumerable<AplicacionWebGym.Models.MedidasCLS>

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista_Medidas</title>
</head>
<h2> Lista Medidas por Cliente</h2>

<div class="navbar navbar-inverse navbar" style="background-color: #d1dc5a">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
            <li>
                @using (Html.BeginForm("generarExcel", "Medidas"))
                {
                    <p>  <h4><button id="submitButton" type="submit">Exportar Excel</button></h4></p>
                }
            </li>
        </ul>
    </div>
</div>
<body>

    <table class="table">
        <tr>
            <th hidden>
                @Html.DisplayNameFor(model => model.IdMedidas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.altura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.medidasAbd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.medidasCintura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.medidasPecho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDatos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_med)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td hidden>
                    @Html.DisplayFor(modelItem => item.IdMedidas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.altura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.medidasAbd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.medidasCintura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.medidasPecho)
                </td>
                <td>
                    @AplicacionWebGym.Controllers.MedidasController.nombre_persona(item.IdDatos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_med)
                </td>
                <td>
                    @Html.ActionLink(" ", "EliminarMedida", new { id = item.IdDatos, id2 = item.IdMedidas }, new { @class = "btn btn-default glyphicon glyphicon-trash", onclick = "confirmDel(event)" })
                </td>
            </tr>
        }

    </table>
</body>
</html>
<script>
        function confirmDel(e) {
            var agree = confirm("¿Realmente deseas visitar este sitio?");

            if (agree == false)
                e.preventDefault();
        }

</script>