@model AplicacionWebGym.Models.DatosPersona

@{
    ViewBag.Title = "Detalle_Persona";
}

<h2>Detalle_Clientes</h2>

<div>
    <h4>DatosPersona</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdDatos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdDatos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdTurnos)
        </dt>

        <dd>
                @if (((int?)Model.IdTurnos) == 1)
                {
                    <span>7 de la tarde</span>
                }
                @if (((int?)Model.IdTurnos) == 2)
                {
                    <span>8 de la tarde</span>
                }
                @if (((int?)Model.IdTurnos) == 3)
                {
                    <span>2 de la tarde</span>
                }
                @if (((int?)Model.IdTurnos) == 4)
                {
                    <span>3 de la tarde</span>
                }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new {  id = Model.IdDatos}) |
    @Html.ActionLink("Volver a la Lista", "Lista_Personas")
</p>
