@model IEnumerable<AplicacionWebGym.Models.DPCLS>

@{
    ViewBag.Title = "Lista_Personas";

}


<p>----</p>
<p>----</p>





<div class="navbar navbar-inverse navbar">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
            <li>
                @using (Html.BeginForm("generarPDF", "DP"))
                {
                    <p>  <h4><button id="submitButton" type="submit">Importar PDF</button></h4></p>
                }
            </li>
            <li>
                @using (Html.BeginForm("generarExcel", "DP"))
                {
                    <p>  <h4><button id="submitButton" type="submit">Importar Excel</button></h4></p>
                }
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                @using (Html.BeginForm())
                {
                    <p>
                        <h4>
                            @Html.TextBox("odatosCLS.lastName", "Buscar por apellido")
                            <input type="submit" value="Buscar" />
                        </h4>

                    </p>
                }
            </li>
        </ul>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdTurnos)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sex)
            </td>
            <td>
                @if (((int?)item.IdTurnos) == 1)
                {
                    <span>7 de la tarde</span>
                }
                @if (((int?)item.IdTurnos) == 2)
                {
                    <span>8 de la tarde</span>
                }
                @if (((int?)item.IdTurnos) == 3)
                {
                    <span>2 de la tarde</span>
                }
                @if (((int?)item.IdTurnos) == 4)
                {
                    <span>3 de la tarde</span>
                }
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.IdDatos }) |
                @Html.ActionLink("Detalles", "DetallePersona", new { id = item.IdDatos }) |
                @Html.ActionLink("Eliminar", "delete", new { id = item.IdDatos })
        </tr>
    }

</table>

