@model AplicacionWebGym.Models.Pagos

@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DetallePago</title>
</head>
<body>
    <div>
        <h4>Pagos</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.IdPagos)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IdPagos)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.fecha)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.fecha)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.esAsociado)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.esAsociado)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IdDatos)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IdDatos)
            </dd>
    
        </dl>
    </div>

</body>
</html>
