@model IEnumerable<AplicacionWebGym.Models.PagosCLS>

@{
    ViewBag.Title = "Lista_Pagos_Persona";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista_Pagos_Persona</title>
</head>
<body>
    @using (Html.BeginForm("Lista_Pagos", "Pagos"))
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdPagos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.esAsociado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdDatos)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdPagos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.esAsociado)
                    </td>
                    <td>
                        @AplicacionWebGym.Controllers.PagosController.nombre_persona(item.IdDatos)
                    </td>
                    <td>
                        @Html.ActionLink("Detalles", "DetallePago", new { id = item.IdPagos }) |
                        @Html.ActionLink("Eliminar", "EliminarPago", new { id = item.IdPagos })
                    </td>
                </tr>
            }


        </table>
        @Html.ActionLink("Volver a la lista de pagos", "Lista_Pagos_Persona")

    }
</body>
</html>
