@model IEnumerable<AplicacionWebGym.Models.PagosCLS>

@{
    ViewBag.Title = "Lista_Pagos";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista_Pagos</title>
</head>

<h2>Lista de Pagos</h2>

<p>
    @Html.ActionLink("Ingresar Pago", "Agregar_Pagos")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdPagos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.esAsociado)
        </th>
        <th>
            Nombre
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPagos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.esAsociado)
            </td>
            <td>
                @AplicacionWebGym.Controllers.PagosController.nombre_persona(item.IdDatos)
            </td>
            <td>
            <td>
                @Html.ActionLink(" ", "Editar", new { id = item.IdPagos }, new { @class = "glyphicon glyphicon-edit btn btn-primary" }) |
                @Html.ActionLink(" ", "DetalleJugador", new { id = item.IdPagos }, new { @class = "glyphicon glyphicon-eye-open btn btn-primary" }) |
                @Html.ActionLink(" ", "delete", new { id = item.IdPagos }, new { @class = "glyphicon glyphicon-trash btn btn-danger", @onclick = "DeleteConfirm()" })
            </td>
        </tr>
    }

</table>

<script type="text/javascript">
    function DeleteConfirm() {
        if (confirm("Quieres Eliminar el Registro"))
            return true;
        else
            return false;
    }
</script>
