@model IEnumerable<AplicacionWebGym.Models.DPCLS>

@{
    ViewBag.Title = "Lista_Pagos";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista_Pagos</title>
</head>
<body>
    <h2>Lista Personas</h2>

    <div class="navbar navbar-inverse navbar">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    @using (Html.BeginForm("generarPDF", "DP"))
                    {
                        <p>  <h4><button id="submitButton" type="submit">Importar PDF</button></h4></p>
                    }
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    @using (Html.BeginForm())
                    {
                        <p>
                            <h4>
                                @Html.TextBox("odatosPersona.lastName", "")
                                <input type="submit" value="Buscar" />
                            </h4>

                        </p>
                    }
                </li>
            </ul>
        </div>
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastName)
                </td>
                <td>
                    @Html.ActionLink("Ver lista de pagos", "Lista_Pagos", new { id = item.IdDatos }) |
                    @Html.ActionLink("Agregar Pago", "Agregar_Pagos", new { id = item.IdDatos })
                </td>
            </tr>
        }

    </table>

</body>
</html>
